---
import NationLayout from "../../layouts/NationLayout.astro";
---
<NationLayout title="Lastation" fondo="/src/imgs/backgrounds/lastation_bg.jpg">
    <div class="flex gap-3 justify-center items-center text-cyan-200">
        <figure class="size-52">
            <img src="/src/imgs/logos/Lastation_Logo.png" alt="Lastation logo" class="w-full">
        </figure>
        <h1 class="text-xl font-medium">Lastation</h1>
    </div>
    <section class="bg-black bg-opacity-30 h-96 shadow-top text-cyan-300 mt-2">
        <article class="max-w-7xl m-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt porro voluptatem fuga ipsam, ex distinctio dicta nostrum exercitationem earum rerum dolorum impedit expedita accusantium, esse molestias facilis possimus amet tempora.
            Asperiores provident sequi nostrum debitis, et voluptatem quaerat, facere veritatis voluptas enim illum fuga illo fugiat sapiente repellat sed eos magni. Repellendus ipsa commodi voluptatum similique facere maxime atque nesciunt.
            Modi saepe corporis distinctio vero facilis. Nostrum ipsam corporis temporibus esse omnis consectetur, reiciendis et sunt minus, quibusdam quis repudiandae id, dignissimos inventore exercitationem? Quia quisquam similique dolorem voluptatem autem?
            Atque, earum! Repellat magni fuga cumque ratione. Qui dolorem, deleniti mollitia officiis natus quas blanditiis? Praesentium aut totam suscipit et numquam sint vitae veritatis corrupti nam ex nulla, placeat amet!
            Dignissimos sint temporibus obcaecati exercitationem iste nobis dolorum provident repellat magnam porro voluptatem laudantium officia tempora in quo accusantium minus, eius debitis minima iure. Doloribus ad reprehenderit iure nobis enim.
        </article>
    </section>
</NationLayout>
<style>
    .shadow-top{
        box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.3);
    }
</style>