---
import CharacterNation from "../../components/CharacterNation.astro";
import NationLayout from "../../layouts/NationLayout.astro";
---
<NationLayout title="Lastation" fondo="/src/imgs/backgrounds/leambox_bg.png">
    <div class="flex flex-wrap sm:gap-3 justify-center items-center text-gray-200 max-sm:mb-4">
        <figure class="size-52">
            <img src="/src/imgs/logos/Leambox_Logo.png" alt="Lastation logo" class="w-full">
        </figure>
        <h1 class="text-3xl font-medium">Leambox</h1>
    </div>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-300 p-3">
        <article class="max-w-6xl m-auto">
            <div class="m-auto text-lg text-pretty px-2 sm:px-6 py-4 sm:py-8">
                <p>Lastation, una de las cuatro naciones principales ubucada al sur de GameDustry.Esta nación destaca principalmente por su avanzada tecnología en el apartado del entretenimiento. A pesar de ser una gran bnación, esta no cuenta con un <em>candidato a guardián.</em></p>
                <p>Su guardian <em>Green Heart</em> en una de las única de las diosas cuya personalidad es sumamente madura y refinada. Gracias a su razonamiento de una persona adulta, toma las mejores decisiones para llevar a su nación hacia adelante.</p>
            </div>
        </article>
    </section>
    <br>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-200 mt-2 p-3">
        <article class=" max-w-6xl m-auto">
            <h1 class="my-2 border-b border-cyan-600 text-3xl text-cyan-600">Guardián de la nación</h1>
            <CharacterNation human='/src/imgs/characters/vert_normal.png' megami='/src/imgs/characters/vert_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Vert</h1>
                    <p>Este personaje es la personificación de la consola <em>Xbox</em> de aquella época.</p>
                    <p> Ella es la guardiana y protectora de Leambox, quien es una de las protagonistas de la saga junto a Neptune y las demás. </p>
                    <p>La perosnalidad de este personaje es muy peculiar, ya que es sumamente educada con todos; sin embargo, cuando se encuentra sola su actitud cambia radicalmente, volviendose prácticamente una otaku fanática de lo videojuegos y del contenido <em>BL</em>.</p>
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Green Heart</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Vert. Al adoptar esta forma, podremos notar que lleva los colores más significactivos de la consola a la que representa; su personalidad no cambia mucho con repecto a su forma humana. Sin embargo, sigue manteniendo su actitud de otaku.</p>
                </div>
            </CharacterNation>
        </article>
    </section>
    <br>
</NationLayout>
<style>
    .shadow-top{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    }
</style>