---
import CharacterNation from "../../components/CharacterNation.astro";
import NationLayout from "../../layouts/NationLayout.astro";
---
<NationLayout title="Lastation" fondo="/src/imgs/backgrounds/lowee_bg.png">
    <div class="flex flex-wrap sm:gap-3 justify-center items-center text-gray-200 max-sm:mb-4">
        <figure class="size-52">
            <img src="/src/imgs/logos/Lowee_Logo.png" alt="Lastation logo" class="w-full">
        </figure>
        <h1 class="text-3xl font-medium">Lowee</h1>
    </div>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-300 p-3">
        <article class="max-w-6xl m-auto">
            <div class="m-auto text-lg text-pretty px-2 sm:px-6 py-4 sm:py-8">
                <p>Lastation, una de las cuatro naciones principales ubucada al este de GameDustry.Esta nación destaca principalmente por su avanzada tecnología en la industria y en la seguridad que esta proporciona a sus habitantes. Esto puede dar a entender que esta nación es sumamente estricta, sin embargo, no lo es.</p>
                <p>Su guardian <em>Black Heart</em> a pesar de tener un acaracter muy energético y desafiante, se preocupa por sus habitantes y ahce todo lo posible para mantener el orden y la paz para sus ciudadanos.</p>
            </div>
        </article>
    </section>
    <br>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-200 mt-2 p-3">
        <article class=" max-w-6xl m-auto">
            <h1 class="my-2 border-b border-cyan-600 text-3xl text-cyan-600">Guardián de la nación</h1>
            <CharacterNation human='/src/imgs/characters/blanc_normal.png' megami='/src/imgs/characters/blanc_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Blanc</h1>
                    <p>Este personaje es la personificación de la consola <em>PlayStation 2</em> de aquella época.</p>
                    <p> Ella es la guardiana y protectora de Lastation, quien es una de las protagonistas de la saga junto a Neptune y las demás. </p>
                    <p>Es sumamente conocida por ser un personaje muy dedicado a su nación y cuya personalidad podría considerarse <em>tsundere</em>.</p> 
                    <p>A pesar que existen distintas versiones de este personaje en cada una de las líneas alternas que trata la saga, su actitud en cada una de estas versiones no cambia</p>
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">White Heart</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Noire. Al adoptar esta forma, podremos notar que lleva los colores más significactivos de la consola a la que representa; su personalidad no cambia con respecto a las otras diosas.</p>
                    <p>La personalidad de Noire cuando  entra en este modo es muy similar a su forma humana, sin embargo, se vuelve mucho más copetitiva y energética que antes.</p>
                </div>
            </CharacterNation>
        </article>
    </section>
    <br>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-200 mt-2 p-3">
        <article class=" max-w-6xl m-auto">
            <h1 class="my-2 border-b border-cyan-600 text-3xl text-cyan-600">Candidato a guardián</h1>
            <CharacterNation human='/src/imgs/characters/rom_normal.png' megami='/src/imgs/characters/rom_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Rom</h1>
                    <p>Es la hermana menor de Noire y una de las mejores amigas de Nepgear.Al igual que su hermana, ella representa a la consola <em>Playstation VITA.</em></p>
                    <p> Uni tiene un carácter similar al de su hermana, pero con la diferencia de ser un poco más infantil y muy dedicada a ayudar a su hermana.</p> 
                    <p>A pesar de ser una <em>canditata a diosa</em>, su rol en la nación es muy similar al de su hermana. Junto con ella, trabajan juntas para mantener la paz y el orden en la nación.</p>
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">White Sister</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Uni. Al igual que el resto de diosas, ella obtiene los colores más distintivos a la consola que representa, esto son muy similares a los que obtiene Noire.</p>
                    <p>A diferencia de su hermana, cuando Uni se encuentra en esta forma su personalidad no cambia en lo absoluto.</p>
                    <p>A pesar de su actitud tsundere, se preocupa mucho por los ciudadanos de Lastation, así como tambien ve por el bienestar de sus amigos.</p>
                </div>
            </CharacterNation>
            <CharacterNation human='/src/imgs/characters/ram_normal.png' megami='/src/imgs/characters/ram_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Ram</h1>
                    <p>Es la hermana menor de Noire y una de las mejores amigas de Nepgear.Al igual que su hermana, ella representa a la consola <em>Playstation VITA.</em></p>
                    <p> Uni tiene un carácter similar al de su hermana, pero con la diferencia de ser un poco más infantil y muy dedicada a ayudar a su hermana.</p> 
                    <p>A pesar de ser una <em>canditata a diosa</em>, su rol en la nación es muy similar al de su hermana. Junto con ella, trabajan juntas para mantener la paz y el orden en la nación.</p>
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">White Sister</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Uni. Al igual que el resto de diosas, ella obtiene los colores más distintivos a la consola que representa, esto son muy similares a los que obtiene Noire.</p>
                    <p>A diferencia de su hermana, cuando Uni se encuentra en esta forma su personalidad no cambia en lo absoluto.</p>
                    <p>A pesar de su actitud tsundere, se preocupa mucho por los ciudadanos de Lastation, así como tambien ve por el bienestar de sus amigos.</p>
                </div>
            </CharacterNation>
        </article>
    </section>
    <br>
</NationLayout>
<style>
    .shadow-top{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    }
</style>