---
import CharacterNation from "../../components/CharacterNation.astro";
import NationLayout from "../../layouts/NationLayout.astro";
---
<NationLayout title="Lastation" fondo="/src/imgs/backgrounds/lowee_bg.png">
    <div class="flex flex-wrap sm:gap-3 justify-center items-center text-gray-200 max-sm:mb-4">
        <figure class="size-52">
            <img src="/src/imgs/logos/Lowee_Logo.png" alt="Lastation logo" class="w-full">
        </figure>
        <h1 class="text-3xl font-medium">Lowee</h1>
    </div>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-300 p-3">
        <article class="max-w-6xl m-auto">
            <div class="m-auto text-lg text-pretty px-2 sm:px-6 py-4 sm:py-8">
                <p>Lowee, una de las cuatro naciones principales ubucada al norte de GameDustry.Esta nación, debido a su posición geográfica se encuentra cubierta totalmente por nieve. De igual manera, a pesar de estar avanzada tecnológicamente, esta nación destaca principalmente por su rica cultura.</p>
                <p>Su guardian <em>White Heart</em> se toma muy en serio su rol como guardián de la nacion, por lo que, en ocasiones puede ser un poco dura con quienes la rodean.</p>
            </div>
        </article>
    </section>
    <br>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-200 mt-2 p-3">
        <article class=" max-w-6xl m-auto">
            <h1 class="my-2 border-b border-cyan-600 text-3xl text-cyan-600">Guardián de la nación</h1>
            <CharacterNation human='/src/imgs/characters/blanc_normal.png' megami='/src/imgs/characters/blanc_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Blanc</h1>
                    <p>Este personaje es la personificación de la consola <em>Wii</em> que existió en su tiempo por parte de Nintendo.</p>
                    <p>Blanc es la más calmada de las cuatro protagonistas de la saga.  A ella le fascina leer novelas, sin embargo, su verdadera pasión se centra en escribir sus propias hsitorias.</p>
                    <p>Como se dijo anteriormente, su actitud es bastante tranquila, sin embargo, en caso de llegarse a enojar, se vuelve sumamente agresiva.</p>
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">White Heart</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Blanc. Al adoptar esta forma, podremos notar que lleva los colores más significactivos de la consola a la que representa.</p>
                    <p>La personalidad de Blanc al adoptar esta forma cambia notoriamente. Se vuelve muy agresiva y adquiere una fuerza y  energía descomunal. Sin embargo, hace todo lo posible por proteger a su nación y a sus hermanas.</p>
                </div>
            </CharacterNation>
        </article>
    </section>
    <br>
    <section class="bg-black bg-opacity-30 shadow-top text-gray-200 mt-2 p-3">
        <article class=" max-w-6xl m-auto">
            <h1 class="my-2 border-b border-cyan-600 text-3xl text-cyan-600">Candidato a guardián</h1>
            <CharacterNation human='/src/imgs/characters/rom_normal.png' megami='/src/imgs/characters/rom_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Rom</h1>
                    <p>Es la hermana menor de Blanc junto con su hermana Rem y una de las amigas de Nepgear.Al igual que su hermana, ella junto con Rem representa a la consola <em>NintendoDS.</em></p>
                    <p> Rom es una niña bastante alegre y amable con lagente, sin embargo, es muy  timida, por lo que siempre se encuentra junto con su hermana Rem.</p> 
                    <p>Debido a su forma de ser, los ciudadanos de Lowee la ven como a alguien que deben de proteger.</p>
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">White Sister</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Rom. Al igual que el resto de diosas, ella obtiene los colores más distintivos a la consola que representa.</p>
                    <p>Cuando Rom adquiere esta forma se vuelve mucho más independiente y adquiere una gran fuerza.</p>
                </div>
            </CharacterNation>
            <CharacterNation human='/src/imgs/characters/ram_normal.png' megami='/src/imgs/characters/ram_megami.png'>
                <div slot="normal-description" class=" text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">Ram</h1>
                    <p>Es la hermana menor de Blanc junto con su hermana Rom y una de las amigas de Nepgear.Al igual que su hermana, ella junto con Rom representa a la consola <em>NintendoDS.</em></p>
                    <p>Ram podría considerarse la contraparte de Rom, ya que ella es una niña muy energética y alegre, por lo que en ocasiones puede meterse en problemas ya que le gusta hacerle travesuras a su hermana mayor Blanc.</p> 
                </div>
                <div slot="megami-description" class="text-balance text-lg">
                    <h1 class="font-semibold text-2xl border-b py-2 my-2 text-cyan-300">White Sister</h1>
                    <p>Tranformación <em>Console Patron Unit</em> (CPU) de Ram. Al igual que el resto de diosas, ella obtiene los colores más distintivos a la consola que representa.</p>
                    <p>Cuando Rom adquiere esta forma se vuelve adquiere una actitud un opoco más madura con respecto a   su forma humana.</p>
                </div>
            </CharacterNation>
        </article>
    </section>
    <br>
</NationLayout>
<style>
    .shadow-top{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    }
</style>