---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Parallax from '../components/Parallax.astro';
import Seccion from '../components/Seccion.astro';
import Card from '../components/Card.astro';
import Steam from '../icons/Steam.astro';
import PsVita from '../icons/PsVita.astro';
import Play4 from '../icons/Play4.astro';
import Character from '../components/Character.astro';
import Footer from '../components/Footer.astro';
import Nation from '../components/Nation.astro';
---

<Layout title="Neptunia FanPage">
	<Parallax fondo='/src/imgs/backgrounds/capitulos.png' textColor="white">
		<div class="flex flex-wrap items-center justify-center gap-2 px-2 py-5">
			<figure class=" max-w-sm">
				<img src="/src/imgs/logo.png" alt="Logo Neptunia" class="w-full" alt="logo Neptunia">
			</figure>
			<div class=" max-w-lg px-2 sm:px-0 text-lg">
				<p>
					<strong><em>"Hyperdimension Neptunia"</em></strong> es una serie de videojuegos desarrollado por CompileHearth e IdeaFactory.
				</p>
				<p>
					Su principal trama trata sobre la guerra de consolas y temas populares en el mundo del anime y  los videojuegos.
				</p>
			</div>
		</div>
	</Parallax>
	<Seccion ancla='Saga' title='Sobre la saga'>
		<div class="px-3 pt-3 pb-4 flex gap-2 items-center flex-col-reverse sm:flex-row rounded-b-lg bg-violet-900 bg-opacity-70 text-violet-100">
			<div class="section-content text-lg flex flex-col gap-2">
				<p>
					<strong><em>"Hyperdimension Neptunia"</em></strong> es una serie de videojuegos desarrollado por CompileHearth e IdeaFactory.
				</p>
				<p>
					La historia principal se desarrolla en GameDustry, un mndo conformado por cuatro naciones principales: Planetune, Lastation, Leambox y Lowee. Cada nación es gobernada por una diosa guardiana (CPU) donde cada una representa a una consola popular.
				</p>
				<p>
					Todas las naciones conviven en armonía compitiendo por la devoción de las personas para así ganar más <i>Share-energy</i> para su nación, sim embargo, en cada entrega, las diosas se enfrentaran a distintos problemas que pueden poner en peligro a su propio mundo.
				</p>
			</div>
			<figure class=" max-w-sm rounded-md overflow-hidden relative after:content-[''] after:absolute after:w-full after:h-full after:top-0 after:shadow-inner after:shadow-violet-900 after:rounded-md">
				<img src="/src/imgs/pictures/Gamindustri.png" alt="game dustri">
			</figure>
		</div>
	</Seccion>
	<Seccion ancla='Personajes' title='Personaje'>
		<div class="px-3 py-4 flex flex-wrap justify-center sm:justify-evenly items-center gap-2">
			<Character human='/src/imgs/characters/nep.png' megami='/src/imgs/characters/purple.png' nameHuman='Neptune' nameMegami='Purple Heart'/>
			<Character human='/src/imgs/characters/noire.png' megami='/src/imgs/characters/black.png' nameHuman='Noire' nameMegami='Black Heart'/>
			<Character human='/src/imgs/characters/vert.png' megami='/src/imgs/characters/green.png' nameHuman='Vert' nameMegami='Green Heart'/>
			<Character human='/src/imgs/characters/blanc.png' megami='/src/imgs/characters/white.png' nameHuman='Neptune' nameMegami='White Heart'/>
		</div>

	</Seccion>
	<Seccion ancla='Naciones' title='Naciones'>
		<div class="pt-4">
			<Nation titulo='Planetune' href='/world/Planetune' nacion="/src/imgs/logos/Planetune_Logo.png" bg="/src/imgs/backgrounds/planetune_bg.png" transition:name='planetune'/>
			<Nation titulo='Lastation' href='/world/Lastation' nacion="/src/imgs/logos/Lastation_Logo.png" bg="/src/imgs/backgrounds/lastation_bg.jpg" transition:name='lastation'/>
			<Nation titulo='Leambox' href='/world/Leambox' nacion="/src/imgs/logos/Leambox_Logo.png" bg="/src/imgs/backgrounds/leambox_bg.png" transition:name='leambox'/>
			<Nation titulo='Lowee' href='/world/Lowee' nacion="/src/imgs/logos/Lowee_Logo.png" bg="/src/imgs/backgrounds/lowee_bg.png" transition:name='lowee'/>
		</div>
	</Seccion>
	<Seccion ancla='Juegos' title='Entregas'>
		<div class="px-3 py-4 flex flex-wrap justify-center sm:justify-evenly items-center gap-2">
			<Card title='Hyperdimension Neptunia Re;Bith 1' cover='/src/imgs/games/HNR1.png'>
				<div class="w-full flex justify-evenly sm:justify-center gap-4 items-center">
					<a href="https://store.steampowered.com/app/282900/Hyperdimension_Neptunia_ReBirth1/" target="_blank">
						<Steam clases="size-8"/>
					</a>
					<a href="" target="_blank">
						<PsVita clases="size-12"/>
					</a>
					<a href="" target="_blank">
						<Play4 clases="size-10"/>
					</a>
				</div>
			</Card>
			<Card title='Hyperdimension Neptunia Re;Bith 2' cover='/src/imgs/games/HNR2.png'>
				<div class="w-full flex justify-evenly sm:justify-center gap-4 items-center">
					<a href="" target="_blank">
						<Steam clases="size-8"/>
					</a>
					<a href="" target="_blank">
						<PsVita clases="size-12"/>
					</a>
				</div>
			</Card>
			<Card title='Hyperdimension Neptunia Re;Bith 3' cover='/src/imgs/games/HNR3.png''>
				<div class="w-full flex justify-evenly sm:justify-center gap-4 items-center">
					<a href="" target="_blank">
						<Steam clases="size-8"/>
					</a>
					<a href="" target="_blank">
						<PsVita clases="size-12"/>
					</a>
				</div>
			</Card>
			<Card title='Megadimension Neptunia VII' cover='/src/imgs/games/HNRVII.png'>
				<div class="w-full flex justify-evenly sm:justify-center gap-4 items-center">
					<a href="" target="_blank">
						<Steam clases="size-8"/>
					</a>
					<a href="" target="_blank">
						<Play4 clases="size-10"/>
					</a>
				</div>
			</Card>
			<Card title='Megatagmension + Neptune: Blanc VS Zombies' cover='/src/imgs/games/MTNBNZ.png'>
				<div class="w-full flex justify-evenly sm:justify-center gap-4 items-center">
					<a href="" target="_blank">
						<Steam clases="size-8"/>
					</a>
					<a href="" target="_blank">
						<PsVita clases="size-12"/>
					</a>
				</div>
			</Card>
			<Card title='Cyberdimension: Four Goddesses Online' cover='/src/imgs/games/CYBERN.jpg'>
				<div class="w-full flex justify-evenly sm:justify-center gap-4 items-center">
					<a href="" target="_blank">
						<Steam clases="size-8"/>
					</a>
					<a href="" target="_blank">
						<Play4 clases="size-10"/>
					</a>
				</div>
			</Card>
		</div>
		<div class="flex justify-center items-center">
			<a href="games" class="px-2 py-1 rounded-full border bg-blue-900 text-blue-100">
				<span>Ver más</span>
			</a>
		</div>
	</Seccion>
	<br>
</Layout>
<style>
	html{
		scroll-behavior: smooth;
	}
	.section-content>p{
		max-width: 50rem;
	}
</style>

