---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Parallax from '../components/Parallax.astro';
import Seccion from '../components/Seccion.astro';
---

<Layout title="Neptunia FanPage">
	<Navbar/>
	<main class="max-w-7xl m-auto">
	<Parallax fondo='https://drive.google.com/uc?id=1poPbC5Wx5rwq-teLd3YXjnlw3iY4VPac' textColor="white">
		<div class="flex flex-wrap items-center justify-center gap-2 my-5">
			<figure class=" max-w-sm">
				<img src="https://drive.google.com/uc?id=1jgTpxJ-IC9GpkJFx5SrBciO8yzAwpNL6" alt="Logo Neptunia" class="w-full" alt="logo Neptunia">
			</figure>
			<div class=" max-w-lg px-2 sm:px-0 text-lg">
				<p>
					<strong><em>"Hyperdimension Neptunia"</em></strong> es una serie de videojuegos desarrollado por CompileHearth e IdeaFactory.
				</p>
				<p>
					Su principal trama trata sobre la guerra de consolas y temas populares en el mundo del anime y  los videojuegos.
				</p>
			</div>
		</div>
	</Parallax>
	<Seccion ancla='Saga' title='Sobre la saga'>
		<div class="px-3 py-2 text-lg section-content flex gap-2 flex-col items-center">
			<p>
				<strong><em>"Hyperdimension Neptunia"</em></strong> es una serie de videojuegos desarrollado por CompileHearth e IdeaFactory.
			</p>
			<p>
				La historia principal se desarrolla en GameDustry, un mndo conformado por cuatro naciones principales: Planetune, Lastation, Leambox y Lowee. Cada nación es gobernada por una diosa guardiana (CPU) donde cada una representa a una consola popular.
			</p>
			<p>
				Todas las naciones conviven en armonía compitiendo por la devoción de las personas para así ganar más <i>Share-energy</i> para su nación, sim embargo, en cada entrega, las diosas se enfrentaran a distintos problemas que pueden poner en peligro a su propio mundo.
			</p>
		</div>
	</Seccion>
	</main>
</Layout>
<style>
	.section-content>p{
		max-width: 50rem;
	}
</style>

