---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Parallax from '../components/Parallax.astro';
---

<Layout title="Neptunia FanPage">
	<Navbar/>
	<main class="max-w-7xl m-auto">
	<Parallax fondo='https://drive.google.com/uc?id=1poPbC5Wx5rwq-teLd3YXjnlw3iY4VPac' textColor="white">
		<div class="flex flex-wrap items-center justify-center gap-2 my-5">
			<figure class=" max-w-sm">
				<img src="https://drive.google.com/uc?id=1jgTpxJ-IC9GpkJFx5SrBciO8yzAwpNL6" alt="Logo Neptunia" class="w-full" alt="logo Neptunia">
			</figure>
			<div class=" max-w-lg px-2 sm:px-0 text-lg">
				<p>
					<strong><i>"Hyperdimension Neptunia"</i></strong> es una serie de videojuegos desarrollado por CompileHearth e IdeaFactory.
				</p>
				<p>
					Su principal trama trata sobre la guerra de consolas y temas populares en el mundo del anime y  los videojuegos.
				</p>
			</div>
		</div>
	</Parallax>
	</main>
</Layout>


