---
interface Props {
	title: string;
	cover:string
}

const {title,cover } = Astro.props;
---

<div class="relative block max-w-sm rounded-lg overflow-hidden">
	<figure class="w-full">
		<img src={cover} alt="entrega" class="w-full">
	</figure>
	<div class="absolute top-full w-full h-full bg-violet-900 text-violet-200 bg-opacity-80 flex flex-col justify-center items-center gap-2 transition-all duration-300">
		<h2 class="font-semibold text-lg">{title}</h2>
		<slot/>
	</div>
</div>
<style>
	div:hover > div{
		top: 0;
	}
</style>
