---
interface Props {
    human:string,
    megami:string,
}
const{human,megami}=Astro.props;
---
<div class="border-4 border-blue-900 rounded-md max-w-80 overflow-hidden" x-data="{change:false}">
    <div class="relative overflow-hidden">
        <button class="border-2 p-3 z-20 absolute top-0" @click="change=!change">
            change
        </button>
        <span></span>
        <figure class="max-w-72">
            <img src={human} alt="human" class="w-full transition-all duration-300" :class="change?'brightness-0 translate-x-5':'brightness-100'">
        </figure>
        <figure class="max-w-72 transition-all duration-300 absolute bottom-0" :class="change?'z-10 right-0':'-z-10 right-10'">
            <img src={megami} alt="diosa" class="w-full transition-all duration-300" :class="change?'brightness-100':'brightness-0'">
        </figure>
    </div>
    <div class="p-2 bg-blue-900 text-blue-200">
        <strong x-text="change?'Black Heart':'Noire'"></strong>
    </div>
</div>