---
import LinksContainer from "./LinksContainer.astro";
import Logo from "./logo.astro";
---
<nav class="w-full sm:px-2 py-1 bg-purple-800 flex gap-2 items-center justify-between sticky top-0 z-50">
    <Logo/>
    <LinksContainer/>
</nav>