---
interface Props {
    title:string,
    ancla:string
}
const {title,ancla}= Astro.props;
---
<section id={ancla} class="mt-4">
    <div class="border-b-4 border-violet-900">
        <h1 class="bg-violet-900 rounded-t-lg w-fit py-2 px-3 font-bold font-sans text-3xl text-indigo-200">{title}</h1>
    </div>
    <slot/>
</section>